* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #685586;
}

.app {
    background: white;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.app h1 {
    font-size: 25px;
    color: #685586;
    /*Coloca a mema do background do body q fica midia*/
    font-weight: 600;
    border-bottom: 1px solid #685586;
    padding-bottom: 30px;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 18px;
    color: #685586;
    font-weight: 600;
}

.btn {
    background: white;
    color: #333;
    font-weight: 500;
    width: 100%;
    border: 1px solid #333;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled]) {
    background: #CCC;
    color: #333;
}

.btn:disabled {
    cursor: no-drop;
}

#prox-btn {
    background: #685586;
    /*COR DO BACKGROUNDDDDDDDDDDDDDDDDDDDDDD*/
    color: white;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.acertou {
    background: #91e691;
}

.errou {
    background: #f08181;
}